@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed&family=Poppins:wght@300;500&family=Raleway:wght@700;800&family=Shippori+Antique+B1&display=swap');
	

	*{
	    margin:0px;
	    padding:0px;
	    box-sizing: border-box;
	    line-height: 1.5;
	    font-family: 'Poppins',sans-serif;
	}
	body{
	    width:100%;
	    min-height: 100vh;
	    background-color: #DF8888;
	}
	.about{
	    width: 100%;
	}
	.about h1{
	    font-size:40px;
	    text-align: center;
	  
	    text-transform: uppercase;
	    letter-spacing: 1.5px;
	    margin-top: 50px;
	}
	.about h1::after{
	    content:"";
	    height:5px;
	    width:200px;
	    background-color: black;
	    border-radius:  10px;
	    display: block;
	    margin: auto;
	}
	.wrapper{
	    padding: 0px 60px;
	    margin: 60px auto;
	}
	.border1{
	    background-color: black;
	    border-radius: 10px;
	    border:1px solid white;
	    margin:4px;
	   
	    
	}
	.border2{
	    background-color: black;
	    border-radius: 10px;
	    border:1px solid white;
	    margin:4px;
	    
	}
	.content{
	    width:60%;
	    float: left;
	    text-align: left;
	    padding: 0px 30px;
	    
	}
	.content h3{
	    font-size:15px;
	    letter-spacing: 1px;
	    color:#DF8888;
	    padding:10px;
	    
	

	}
	.content p{
	    font-family: sans-serif;
	    font-size: 17px;
	    color: #DF8888;
	    margin-top: 20px;
	    padding:10px;
	}
	.content .button{
	    margin-top:40px;
	}
	.content .button a{
	    color:#DF8888;
	    background-color: black;
	    border: 1px solid #DF8888;
	    padding: 10px 35px;
	    text-decoration: none;
	    letter-spacing: 1px;
	    font-size: 22px;
	    text-transform: uppercase;
	}
	.content .button a:hover{
	    color:black;
	    background-color: #DF8888;
	    border: 2px solid black;
	}
	.content .social{
	    margin-top: 30px;
	    margin-left: 15px;
	

	}
	.content .social a{
	    text-decoration: none;
	    color:#222;
	    font-size:25px;
	    
	}
	

	.content .social i{
	height:40px;
	width:40px;
	background-color:#DF8888;
	border: 1px solid black;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	

	}
	.content .social i:hover{
	    font-size: larger;
	}
	.content .social a:hover{
	    color:rgb(36, 168, 220);
	    transition: 1s ease;
	}
	.image-section{
	    width:40%;
	    float: right;
	    padding: 0px 30px;
	

	}
	.image-section img{
	    max-width: 100%;
	    height: auto;
	    border-radius: 12px;
	    border: 2px solid black;
	    
	}

